<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50674106555-0a64cr05c90av0fsegjd4hbqbb1mc4no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50674106555-0a64cr05c90av0fsegjd4hbqbb1mc4no</string>
	<key>API_KEY</key>
	<string>AIzaSyCeHxFQaz1BB21NcP0w8wP7vJdZFHi7A7k</string>
	<key>GCM_SENDER_ID</key>
	<string>50674106555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamestrada.riderapp</string>
	<key>PROJECT_ID</key>
	<string>ridesharing-82ab2</string>
	<key>STORAGE_BUCKET</key>
	<string>ridesharing-82ab2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50674106555:ios:c72940e5a0050ab7f1e99e</string>
	<key>DATABASE_URL</key>
	<string>https://ridesharing-82ab2.firebaseio.com</string>
</dict>
</plist>